body {
    font-family: 'Open Sans', sans-serif;
}




/*--------------------------------------------Navbar*/
.navbar i {
    color:#fdd20eff;
}
.navbar {
    background-color: #00539cff;
    font: weight 700;
    padding: 3%;
    
}
.main-heading {
    background-color: rgb(57, 128, 190);
    color:#F2F8FD;
    padding: 5%;
}
.btn{
    color:#fdd20eff;
}

.navigation-buttons-bigger-screens {
    position: fixed;
    right: 0
}
.large_screen_menu{
    color:#231F20;
    background-color: #FFF851;
    border-radius: 20px;
    margin-right: 5px;
}
.dropdown-menu{
    color:#231F20;
    background-color: #FFF851;
}
/* ----------------------------------------Special paddings/margins/text */
.under_picture{   
    background-color: #00539cff;
    color:  #F2F8FD;
    position: absolute;
    left:0;
    bottom:8%;
    margin: 1%;
    padding: 2%;
}
.space{
    padding:2%;
}



/*--------------------------------------------Heading*/
/*--------------------------------------------Quick Links*/

/*--------------------------------------------background image*/
.background-image {
     background: url('../images/homepage.jpg'); 
    background-position: relative  
        background-size: 200%; 
        background-repeat: no-repeat; 
        height:100%;  /* image height is 700px */
        width:100%; 
        padding:0;

        }
.background-reasonwhy {
background: url('../images/homepage.jpg'); 
    background-position: relative  
    bottom: 0px;

}
/*--------------------------------------------homepage*/
.opaque_back{
    background-color: rgba(0, 0, 0, 0.2);
    background-size: auto auto;
    background-position: fixed;
    border-radius:25px;;
    padding:2%;
    
}
.container-fluid {
    left:0px;
    margin-left: 0;
    margin-top: 10px;
}

.jumbotron{
    padding:2.5%;
    margin:0;
    color: #F2F8FD;
    font-size:80%;
    background: url('../images/line-graph.jpeg'); 
}
.reason-why{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0;
    position: absolute;
    left:5%;
}

.reason-why-small{
    margin:0;
    padding: 0;
    position: absolute;
    left:5%;
    top:50%;
    font-style: italic;
    letter-spacing: 5px;
}
/*--------------------------------------------footer*/



/* #### Mobile Phones Portrait ####  problems need to solve from main based on responsinator: 
1) there is too much white space at the bottom.
 */


  @media screen and (max-height: 650px){
  .quick-links {
      visibility: hidden;
  }
  }







/*--------------------------------------------reading and podcasts page*/

.row .page-title {
margin:0;
    padding:0;
}

blockquote {
    
    padding:10px;

}
.col-12{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    position: relative;
}

    
h3{
    font-weight: 600;
    text-transform: uppercase;
    margin-right: 20px;
}

.podcast-description, .book-description {
    text-align:justify; 
    margin-top: 40px;
    background-color: #F2F8FD;
    background-position: relative;

    height: 35%;
    width:75%:
    margin-left: 20px;
}

/*--------------------------------------------social links*/
.social-links{
    position: fixed;
    bottom:0px;
    padding-top: 10px;
    text-align: center;

}
.page-title{
    text-transform: uppercase;
}
p {
    padding:10px;
}
/* @MEDIA podcasts content */
@media screen and (max-width: 850px) {
   
h1{
    font-size: 100%;
}

h3{
    font-size:80%;
}
.col-3 {
    height: 80%;
    width:80%;
    font-size: 80%;
    margin:2px 2px 2px 2px;
    padding:2px;
}
.quick-links {
    display:none;
    
}

}

@media screen and (max-height: 600px) {
h1{
    font-size: 50%;
    font-style: bold;
}

h3{
    font-size:50%;
}
.col-3 {
    height: 50%;
    width:50%;
    font-size: 50%;
    margin:2px 2px 2px 2px;
    padding:2px;
}
.quick-links {
    display:none;
    
}

}

