
body {
    font-family: 'Open Sans', sans-serif;
}




/*--------------------------------------------Colors*/
.navbar i {
    color:#fdd20eff;
}
.navbar {
    background-color: #00539cff;
    font: weight 700;
    text-transform: uppercase;
}


/* ----------------------------------------Special paddings/margins/text */
.under_picture{   
    background-color: #00539cff;
    color:  #F2F8FD;
    position: absolute;
    left:0;
    bottom:0;
    margin: 1%;
    padding: 2%;
    

}

/*--------------------------------------------Heading*/
/*--------------------------------------------Quick Links*/
.tasty_image {
   max-width: 20px;
  
}
/*--------------------------------------------background image*/
.background-image {
     background: url('../images/homepage.jpg'); 
    background-position: fixed; 
        background-size: 200%; 
        background-repeat: no-repeat; 
        height:700px;  /* image height is also 700px */
        padding:0;

        }

/*--------------------------------------------homepage first col-6*/
.opaque_back{
    background-color: rgba(0, 0, 0, 0.7);
    background-size: auto auto;
    background-position: fixed;
    
}

.jumbotron{
    padding:2.5%;
    margin:0;
    font-size:80%;
}
/* Phone screen size  */
@media screen and (max-width: 600px) {
  body, .main-heading {
    font-size: 80%;

  }
    .navbar-toggler-icon{
        position: relative;
        box-align: right;

    }

    .h1{ display-1
    
    }
}


